################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Raytracer/v15
/x64/Debug
/.vs/Supercharger/Raytracer
/x64/Release
/.vs
/_ImgOutput
